<div style="width: 100%; padding: 10px; text-align: center; padding: 0;">
  <h2>¿Qué quieres hacer?</h2>

  <button routerLink="/sugerencia" style="height: 40px;">Sugerencias</button> <br />
  <button routerLink="/platos" style="height: 40px;">Ver platos listados</button> <br />
  <button routerLink="/login" style="height: 40px;">Opciones de sesión</button>
  <p style="text-align: justify; margin: 50px; font-size: large;">Esta aplicación sencilla te asistirá en la toma de decisiones cuando no sepas qué preparar para el día siguiente.
    Tendrás la posibilidad de añadir tus propios platos y filtrarlos según el tipo de comida. <br> <br>
  Podrás guardar tus configuraciones de manera local y, en un futuro, en la nube. No obstante, el proyecto se encuentra en una fase temprana y tiene una prioridad baja,
  ya que continúo estudiando y aprendiendo sobre el desarrollo web día a día.</p>
</div>


<!-- Esta aplicación te ayudará a decidir qué preparar para comer. Puedes añadir tus propios platos y filtrarlos por tipo de comida. <br> <br>
Puedes guardar tus configuraciones localmente y, en el futuro, en la nube. El proyecto está en una fase temprana y tiene una prioridad baja, ya que sigo estudiando y aprendiendo sobre desarrollo web. -->

<!-- Esta sencilla aplicación te servirá a decidirte cuando no sepas qué preparar de comer para el día siguiente.
  Podrás añadir tus propios platos y filtrarlos por el tipo de comida que son. <br> <br>
Puedes guardar tus configuraciones de manera local y en un futuro en la nube, pero el proyecto aun se encuentra en una fase muy temprana y tiene una prioridad baja
ya que sigo estudiando y aprendiendo día a día sobre el desarrollo web
 -->