<div
  *ngIf="this.datosService.subEmergenteMostrado != 'cargar'"
  class="emergente"
  style="
    position: fixed;
    height: auto;
    width: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
  "
>
  <!-- style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);"
  -->
  <h3>Guardado local.</h3>
  <h4 *ngIf="this.datosService.tipoDeSesion != 'local'">¿Quién eres?</h4>
  <h4 *ngIf="this.datosService.tipoDeSesion == 'local'">
    ¿Qué quieres hacer ahora {{ this.datosService.usuarioActual.value.name }}?
  </h4>
  <form
    *ngIf="this.datosService.tipoDeSesion == 'nada'"
    [formGroup]="datosService.usuarioActual"
  >
    <input
      formControlName="name"
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Carlos"
    />
  </form>
  <br />
  <br />
  <div style="display: flex; justify-content: space-between">
    <button
      *ngIf="this.datosService.tipoDeSesion != 'local'"
      (click)="guardarDatos()"
    >
      Crear usuario y guardar en local
    </button>
    <button
      *ngIf="
        this.datosService.tipoDeSesion === 'local' &&
        this.datosService.datosGuardaros == false
      "
      (click)="guardarDatos()"
      style="box-shadow: 2px 2px 15px white"
    >
      Actualizar información
    </button>
    <button
      *ngIf="this.datosService.tipoDeSesion === 'local'"
      (click)="cerrarSesion()"  >
      Cerrar sesión
    </button>
    <button
      (click)="this.datosService.subEmergente('cargar')"
     
    >
      Cargar o eliminar usuarios
    </button>
  </div>
  <div>
    <br />
    <br />
      <div style="display: flex; justify-content: flex-end" >
        <button (click)="this.datosService.emergente('')">Cancelar</button>
      </div>
  </div>
</div>

<div
  *ngIf="this.datosService.subEmergenteMostrado === 'cargar'"
  class="emergente"
>
  <tr *ngFor="let usuario of this.clavesLocalStorage">
    <td>
      <button style="width: auto" (click)="cargarDatos(usuario)">
        Cargar {{ usuario }}
      </button>
    </td>
    <td>
      <button
        style="background-color: red; margin-left: 10px; width: 100px"
        (click)="borrarDatos(usuario)"
      >
        Borrar usuario
      </button>
    </td>
  </tr>
  <li *ngIf="this.clavesLocalStorage.length == 0">No hay usuarios guardados</li>
  <br /><br /><br />
  <button
    (click)="this.datosService.emergente('')" > <!-- comprobar si tengo que añadir también el subemergente -->
    Cancelar
  </button>
</div>
