<div>
  <app-emergentes
    *ngIf="this.datosService.emergenteMostrado == 'guardadoLocal'"
  />
</div>

<h2 *ngIf="this.datosService.usuarioActual.value.name == ''">¿Quién eres?</h2>
<h2 *ngIf="this.datosService.usuarioActual.value.name != ''">
  ¡Hola {{ this.datosService.usuarioActual.value.name }}!
</h2>

<div>
  <button (click)="this.datosService.emergente('guardadoLocal')">
    Guardar o cargar datos en local</button
  ><br />
</div>

<br /><br />
<button class="button" routerLink="/inicio">Volver</button>
