<div class="emergente">
  <h3>Añadir nuevo plato.</h3>
  <form [formGroup]="aniadir">
    <label for="nombre">Nombre: </label>
    <input
      formControlName="nombre"
      type="text"
      id="nombre"
      name="nombre"
      placeholder="Pato a la pekinesa"
    /><br /><br />
    <div *ngIf="this.datosService.subEmergenteMostrado != 'aniadirTipo'">
      <label for="ingredientes"><b>Tipo:</b></label> <br />

      <tr *ngFor="let tipo of this.datosService.tipos">
        <td>
          <label for="ingredientes"
            >{{ tipo.toUpperCase().charAt(0) }}{{ tipo.slice(1) }}:</label
          >
        </td>
        <td>
          <input formControlName="eleccion" value="{{ tipo }}" type="radio" />
        </td>
      </tr>
    </div>
    <br />
  </form>
  <button
    *ngIf="this.datosService.subEmergenteMostrado != 'aniadirTipo'"
    style="width: max-content"
    (click)="this.datosService.subEmergente('aniadirTipo')"
  >
    Nuevo tipo
  </button>
  <form
    *ngIf="this.datosService.subEmergenteMostrado == 'aniadirTipo'"
    [formGroup]="tipos"
  >Tipo:
    <input
      formControlName="tipo"
      type="text"
      id="nombre"
      name="nombre"
      placeholder="pescado"
    />
  </form>

  <br />
  <br />
  <div style="display: flex; justify-content: space-between">
    <button (click)="agregar()">Agregar</button>
    <button routerLink="/inicio" (click)="this.datosService.emergente('nada')">
      Cancelar
    </button>
  </div>
</div>
