<h2>¿Qué tipo de comida deseas evitar?</h2>
<p>Marca los tipos de productos que quieras evitar </p>
<table>
    <tr>
        <th>Producto &nbsp; &nbsp; &nbsp;</th>
        <th>Descartes</th>
    </tr>
    <tr>
        <td>Arroz </td>        
        <td><input type="checkbox" id="arroz" name=arroz></td>
    </tr>
    <tr>
        <td>Pasta </td>        
        <td><input type="checkbox" id="pasta" name=pasta></td>
    </tr>
    <tr>
        <td>Carnes </td>        
        <td><input type="checkbox" id="carne" name=carne></td>
    </tr>
    <tr>
        <td>Pescados</td>        
        <td><input type="checkbox" id="pescado" name=pescado></td>
    </tr>
</table>

<br>
<br>
<div style="display: flex;justify-content: space-between;">
<button>Ver sugerencia</button>
<button routerLink="/inicio">Volver</button>
</div>